{% extends "base.html" %}

{% block title %}
    {{ channel }}
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='channel.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Channel: <span id="channel">{{ channel }}</span></h1>
    <h3>Your Display Name: <span id="displayname">{{ displayname }}</span></h3>
    <h2>Message</h2>

        <textarea id="message" rows="2" cols="80" placeholder="type in a message" autocomplete="off" autofocus></textarea>
        <br>
        <input type="submit" id="submit" value="Post Message">

    {% for message in messages %}
        <div>
            <p>
            &gt;&gt; <b style="color:blue">{{ message.displayname }}</b>: <em style="color:grey">posted at {{ message.time }}</em>
            <button type="button" name="{{ message.displayname }}" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);" hidden>Remove</button>
            </p>
            <pre>{{ message.message }}</pre>
        </div>
    {% endfor %}
    <div id="contents">
    </div>

{% endblock %}
