{% extends "base.html" %}

{% block title %}
    Flack
{% endblock %}

{% block body %}
    <h1>Welcome to messaging service</h1>
    <h3>Your Display Name: {{ displayname }}</h3>
    {% if message %}
        <p style="color:red">{{ message }}</p>
    {% endif %}

    <form action="{{ url_for('create') }}" method="post">
        Create Channel: <input type="text" name="channel">
        <input type="submit" value="Create Channel">
    </form>
    {% if channels %}
        <h2>Channel List</h2>
        <ul>
        {% for channel in channels %}
            <li>
                <a href="{{ url_for('channels', channel=channel.channel) }}" target="_blank">{{ channel.channel }}</a>
                <span style="color:grey">&nbsp;&nbsp;
                    <em>created at {{ channel.time }}</em>
                </span>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <p><a href="{{ url_for('back') }}">Back</a></p>
{% endblock %}
