{% extends "base.html" %}

{% block title %}
    Flack
{% endblock %}

{% block body %}
    <h1>Flack</h1>

    {% if message %}
        <p style="color:red">{{ message }}</p>
    {% endif %}

    <form action="{{ url_for('display') }}" method="post">
        Enter Your Display Name: <input type="text" name="displayname">
        <input type="submit" value="Submit">
    </form>
{% endblock %}
